@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    font-family: Rubik;
    outline: none;
    border: none
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 10px;
    background: #7d3e9651;
    border-radius: 444px
}

*::-webkit-scrollbar-thumb {
    width: 10px;
    background: #5e2e9d88;
    border-radius: 333px
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    background: #f5f3ff;
    max-width: 1280px;
    margin: 0 auto;
    min-width: 375px;
    padding-bottom: 80px;
}
.red{
    background: #000;
}